.color-example {
    color: darkblue;
    background-color: #F1DCD8;
    border: 2px solid aqua;
}

.header-example {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

.list-example {
    list-style-type: disc;
    color: rgb(206, 52, 35)
}

.text-example {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-transform: capitalize;
    text-decoration: underline;
}

.div-example {
    background-color: lightblue;
    border: 1px solid rgb(63, 98, 215);
}